$catalog-title-color: rgba(0, 0, 0, 0.7);
$catalog-title-text-color: white;

.catalog {
  @include fade();
  min-height: 600px;

  .catalog-tile {
    @include fade();

    position: relative;
    border-radius: 10px;


    .catalog-tile-underlay {
      background-color: black;
      border-radius: 10px;

      .catalog-tile-wrapper {
        display: inline-block;
        position: relative;
        transition: all 0.3s ease;

        .catalog-tile-title {
          position: absolute;
          width: 100%;
          bottom: 0;
          color: $catalog-title-text-color;
          background-color: $catalog-title-color;
          padding: 10px;
          border-radius: 0 0 10px 10px;
        }

        img {
          border-radius: 10px;
        }

        &:hover {
          cursor: pointer;
          opacity: 0.8;

          .catalog-tile-title {
            color: $primary-color;
          }
        }
      }
    }
  }
}

.ware {
  @include fade();
  min-height: 600px;

  h2 {
    color: $primary-color;
    margin-left: 20px;
  }

  .ware-price {
    font-size: 1.6em;
    font-weight: bold;
    color: $primary-color;
  }

  .thumbnails {
    margin: 10px;
    list-style-type: none;

    > li {
      padding: 5px;
      .thumbnails-tile-underlay {
        background-color: black;

        img {
          &:hover {
            cursor: pointer;
            opacity: 0.8;
          }
        }
      }
    }
  }
}

@mixin fullscreen {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal-wrapper {
  position: fixed;
  text-align: center;
  @include fullscreen;
  background-color: transparent;

  .underlay {
    @include fullscreen;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .panel.over {
    position: absolute;
    width: 600px;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow-y: auto;

    &.full {
      width: 98%;
      height: 96%;
      top: 0;
      margin: 20px auto;
    }
  }
}