header {
  padding-top: 20px;

  .part-1,
  .part-2 {
    display: inline-block;
  }

  .part-1 {
    width: 84%;
  }

  .part-2 {
    width: 15%;
    vertical-align: top;

    .phone,
    .worktime {
      display: inline-block;
      height: 32px;
      font-weight: bold;
      font-size: 15px;

      &:before {
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        background-repeat: no-repeat;
      }
    }

    .phone {
      &:before {
        background-image: url('/casemaker-client/images/phone.png');
        height: 25px;
        margin-top: -2px;
      }
    }

    .worktime {
      &:before {
        background-image: url('/casemaker-client/images/clock.png');
        height: 26px;
        margin-top: -2px;
      }
    }
  }

  .logo {
    position: relative;
    padding-left: 120px;
    height: 40px;

    .logo-image {
      position: absolute;
      left: 0;
      top: 0;
    }

    .logo-text {

    }
  }

  .navigation {
    padding-left: 120px;

    nav {
      ul {
        margin: 0;

        li {
          display: inline-block;
          padding: 10px;

          &:nth-child(1) {
            padding-left: 0;
            a {
              text-decoration-color: #c620a1;
            }
          }

          &:nth-child(2) {
            a {
              text-decoration-color: #4a9fd2;
            }
          }

          &:nth-child(3) {
            a {
              text-decoration-color: #99d63c;
            }
          }

          &:nth-child(4) {
            a {
              text-decoration-color: #fad939;
            }
          }

          &:nth-child(5) {
            a {
              text-decoration-color: #bb3a32;
            }
          }

          &:hover {
            opacity: .8;
          }

          a {
            font-weight: bold;
            text-decoration: underline;
            color: #666;
          }
        }
      }
    }
  }
}
