.main-page {
  h3 {
    text-align: center;
  }

  .section {
    margin-bottom: 30px;
  }

  .services {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

    li {
      &:nth-child(1) {
        .info {
          background-color: #c620a1;
        }
      }

      &:nth-child(2) {
        .info {
          background-color: #4a9fd2;
        }
      }

      &:nth-child(3) {
        .info {
          background-color: #99d63c;
        }
      }

      &:nth-child(4) {
        .info {
          background-color: #fad939;
        }
      }

      &:nth-child(5) {
        .info {
          background-color: #bb3a32;
        }
      }

      &:nth-child(6) {
        .info {
          background-color: #4a7c97;
        }
      }
    }

    .tile {
      position: relative;
      color: white;
      display: block;

      img {
        border-radius: 10px;
      }

      .info {
        position: absolute;
        padding: 10px;
        width: 100%;
        bottom: 0;
        border-radius: 0 0 10px 10px;
        opacity: 0.7;
        transition: all .3s ease;

        .title {
          text-align: center;
          font-weight: bold;
        }

        .description {
          display: none;
        }
      }

      &:hover {
        .info {
          opacity: 1;
          transition: all .3s ease;

          .description {
            display: block;
          }
        }
      }
    }
  }

  .about {
    &-tabs {

    }

    &-tab {
      text-align: center;
      line-height: 30px;
      cursor: pointer;
      border-bottom: solid 1px $secondary-color;
      font-family: $main-font-light;

      &:hover {
        border-bottom: solid 1px $primary-color;

        .tab-number {
          background-color: $primary-color;
        }

        .tab-text {
          color: $primary-color;
        }
      }

      &.selected {
        border-bottom: solid 2px $accent-color;

        .about-tab-number {
          background-color: $accent-color;
        }
      }

      &-number,
      &-text {
        display: inline-block;
        vertical-align: middle;
      }

      &-number {
        height: 30px;
        width: 30px;
        margin-right: 10px;
        border-radius: 50%;
        background-color: $primary-color;
        font-size: 16px;
        color: white;
      }

      &-text {
        font-size: 24px;
      }
    }

    &-page {
      padding: 30px 10px;
    }

    h5 {
      color: $accent-color;
    }
  }

  .promos {
    @include fade();

    margin: 20px 0;

    &-pagination {
      &-prev,
      &-next {
        display: inline-block;
        height: 30px;
        width: 30px;
        font-size: 30px;
        font-weight: bold;
        text-align: center;

        &:before {
          display: block;
          line-height: 23px;
          height: 30px;
        }

        &:hover {
          cursor: pointer;
          color: darken($primary-color, 30%);
        }

        &:active {
          color: $accent-color;
        }
      }

      &-prev {

        &:before {
          content: '\2039';
        }
      }

      &-next {

        &:before {
          content: '\203A';
        }
      }
    }
  }
}
