@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic&subset=latin,cyrillic-ext,cyrillic);

@import "../foundation/app";
@import "overrides";

@import "header";
@import "main-page";
@import "catalog";
@import "news";
@import "extras";

$slider-title-color: rgba(0, 0, 0, 0.7);
$primary-color: #9400D3;
$secondary-color: #eaeaea;

html {
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif !important;
}

.main-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;

  .flexslider {
    border: none;

    .flex-direction-nav a:before {
      line-height: 40px;
    }
  }
}

footer {
  padding-top: 30px;
  background-color: $secondary-color;

  .phones {
    .phone {
      &:before {
        margin-right: 5px;
        background-size: contain;
        position: relative;
        top: 3px;
      }

      &.velcom.gray:before {
        content: url('../../../../images/velcom-gray.png');
      }

      &.mts.gray:before {
        content: url('../../../../images/mts-gray.png');
      }

      &.home.gray:before {
        content: url('../../../../images/home-gray.png');
      }
    }
  }

  .payments {
    .payment {
      width: 80px;
      height: 32px;
      overflow: hidden;
      background-position: 0 32px;

      &:hover {
        background-position: 0 0;
        cursor: pointer;
      }
    }
  }

  .social {
    .social-link {
      width: 32px;
      height: 32px;
      background-position: 0 32px;

      &:hover {
        background-position: 0 0;
        cursor: pointer;
      }
    }
  }
}