@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic&subset=latin,cyrillic-ext,cyrillic);
@import "../foundation/app";
@import "overrides";
@import "mixins";
@import "header";
@import "main-page";
@import "catalog";
@import "news";
@import "extras";

$slider-title-color: rgba(0, 0, 0, 0.7);

html {
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif !important;
}

.main-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;

  .flexslider {
    border: none;

    .flex-direction-nav a:before {
      line-height: 40px;
    }
  }
}

footer {
  background-color: #636466;
  padding: 30px;

  h4, h5, li, a, span, div {
    color: white;
  }

  h4, h5, ul {
    margin: 0 !important;
  }

  h4, h5 {
    font-weight: normal;
  }

  h5 {
    font-size: 20px;
  }

  a {
    &:hover {
      color: $accent-color;
    }
  }

  .footer-block {
    ul {
      font-size: 16px;
    }
  }
}