<header>
    <div class="part-1">
        <!--<div class="large-4 column">-->
        <!--<div class="large-10 column">-->
        <!--<input type="search" placeholder="Поиск..." ng-model="searchString" ng-keypress="processKeypress($event)">-->
        <!--</div>-->
        <!--<div class="large-2 column search-button" ng-click="doSearch()">-->
        <!--<i class="fa fa-2x fa-search"></i>-->
        <!--</div>-->
        <!--</div>-->
        <div class="logo">
            <img class="logo-image" src="/casemaker-client/images/casemaker-logo.png">
            <img class="logo-text" src="/casemaker-client/images/casemaker.png">
        </div>
        <div class="navigation">
            <nav>
                <ul>
                    <li>
                        <a href="/">Главная</a>
                    </li>
                    <li>
                        <a href="/catalog">Каталог</a>
                    </li>
                    <li>
                        <a href="/extra">Наши покупатели</a>
                    </li>
                    <li>
                        <a href="#">Контакты</a>
                    </li>
                    <li>
                        <a href="#">Как нас найти</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="part-2">
        <div class="phone">+375 (44) 501-56-55</div>
        <div class="worktime">ПН-ПТ 9:00 - 20:00</div>
    </div>
    <!--<div class="hidden-for-large-up">-->
    <!--<nav class="top-bar">-->
    <!--<section class="top-bar-section wide">-->
    <!--<ul>-->
    <!--<li class="has-dropdown small-12 medium-12">-->
    <!--<a href="" class="small-12 medium-12">Меню</a>-->
    <!--<ul class="dropdown small-12 medium-12">-->
    <!--<li>-->
    <!--<a href="/">Главная</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="/catalog">Каталог</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="/extra">Наши покупатели</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="#">Контакты</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a href="#">Как нас найти</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</section>-->
    <!--</nav>-->
    <!--</div>-->
</header>