<div class="main-page">
    <div class="section">
        <h3>СОЗДАЙ СВОЙ ЧЕХОЛ</h3>
        <div class="row">
            <div class="columns medium-9">
                Какой-то большой текст. Какой-то большой текст. Какой-то большой текст. Какой-то большой текст. Какой-то
                большой текст. Какой-то большой текст. Какой-то большой текст. Какой-то большой текст.
            </div>
            <div class="columns medium-3 text-center">
                <button>Онлайн редактор</button>
            </div>
        </div>
        <div class="medium-centered">
            <img src="/casemaker-client/images/maker.png"/>
        </div>
    </div>

    <div class="section">
        <h3>Именные чехлы на заказ с печатью</h3>
        <h4>Наши услуги</h4>
        <div class="row">
            <div class="columns medium-9">
                Какой-то большой текст. Какой-то большой текст. Какой-то большой текст. Какой-то большой текст. Какой-то
                большой текст. Какой-то большой текст. Какой-то большой текст. Какой-то большой текст.
            </div>
            <div class="columns medium-3 text-center">
                <button>Узнать больше!</button>
            </div>
        </div>

        <ul class="services medium-block-grid-3">
            <li>
                <a class="tile">
                    <img src="https://i.ytimg.com/vi/ktlQrO2Sifg/maxresdefault.jpg"/>
                    <div class="info">
                        <div class="title">Заголовок</div>
                        <div class="description">Описание</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="tile">
                    <img src="https://i.ytimg.com/vi/ktlQrO2Sifg/maxresdefault.jpg"/>
                    <div class="info">
                        <div class="title">Заголовок</div>
                        <div class="description">Описание</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="tile">
                    <img src="https://i.ytimg.com/vi/ktlQrO2Sifg/maxresdefault.jpg"/>
                    <div class="info">
                        <div class="title">Заголовок</div>
                        <div class="description">Описание</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="tile">
                    <img src="https://i.ytimg.com/vi/ktlQrO2Sifg/maxresdefault.jpg"/>
                    <div class="info">
                        <div class="title">Заголовок</div>
                        <div class="description">Описание</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="tile">
                    <img src="https://i.ytimg.com/vi/ktlQrO2Sifg/maxresdefault.jpg"/>
                    <div class="info">
                        <div class="title">Заголовок</div>
                        <div class="description">Описание</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="tile">
                    <img src="https://i.ytimg.com/vi/ktlQrO2Sifg/maxresdefault.jpg"/>
                    <div class="info">
                        <div class="title">Заголовок</div>
                        <div class="description">Описание</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>