<div class="main-page">
    <div class="section">
        <h3>СОЗДАЙ СВОЙ ЧЕХОЛ</h3>
        <div class="row">
            <div class="columns medium-9">
                Какой-то большой текст. Какой-то большой текст. Какой-то большой текст. Какой-то большой текст. Какой-то
                большой текст. Какой-то большой текст. Какой-то большой текст. Какой-то большой текст.
            </div>
            <div class="columns medium-3 text-center">
                <button>Онлайн редактор</button>
            </div>
        </div>
        <div class="medium-centered">
            <img src="/casemaker-client/images/maker.png"/>
        </div>
    </div>

    <div class="section">
        <h3>Именные чехлы на заказ с печатью</h3>
        <h4>Наши услуги</h4>
        <div class="row">
            <div class="columns medium-9">
                Какой-то большой текст. Какой-то большой текст. Какой-то большой текст. Какой-то большой текст. Какой-то
                большой текст. Какой-то большой текст. Какой-то большой текст. Какой-то большой текст.
            </div>
            <div class="columns medium-3 text-center">
                <button>Узнать больше!</button>
            </div>
        </div>

        <ul class="services medium-block-grid-3">
            <li ng-repeat="service in services">
                <a class="tile" ng-href="{{:: service.link }}">
                    <img ng-src="{{::getImageUrl(service.imageUrl)}}"/>
                    <div class="info">
                        <div class="title">{{:: service.title }}</div>
                        <div class="description">{{:: service.description }}</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>